/*header*/



/*body*/

.hours{
    width: 190px;
    height: 350px;
    margin-top: 150px;
    margin-bottom: 150px;

}

.wrapper{
    margin: 150px auto;
    width: 70%;
}

img{
    max-width: 20px;
    float: right;
    border: 3px solid lightgoldenrodyellow;
    border-radius: 10px;
    margin-left: 40px;
}

.text-box{
    color: rgb(46, 27, 6);
}

.text-box h3{
    font-size:xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box b{
    font-size:large;
    margin-bottom: 30px;
}

.text-box p{
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

.text-box td{
    font-size: medium;
    font-weight: bolder;
}



#rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
}




/*footer*/

.site-footer{
    background-image: url(../imgs/footer.jpg);
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    color: goldenrod;
    text-align: center;
}