

/*header*/
.site-header{
    display: flex;
    background-image: url(../imgs/dogs-cats.jpg);
    background-position: center center;
    flex-direction: column;
    justify-content: top;
    background-size: cover;
    height: 500px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
}



/*form*/
.form-container{
    background-color: rgb(255, 221, 99);
    border-radius: 5px;
    padding: 10px;
}
.form{
    background-color: rgb(255, 221, 99);
    inline-size: fit-content;
    align-items: center;

}
.input-container{
    margin-bottom: 10px;
    padding: 10px;
}
.input-container label{
    display: inline-block;
    width: 80px;
    text-align: right;

}

.input-container input,
.input-container select{
    width:70%;
    padding:3px;
}

option {
    color: rgb(46, 27, 6);
    font-weight: bold;
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align:justify;
    text-shadow: .3%;
}


label {
    color: lightgoldenrodyellow;
    font-weight: bold;
    display: inline-block;
    width: 20%;
    padding: 10px;
    text-align:justify;
    text-shadow: .3%;
}


.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(46, 27, 6);
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.info-bar{
    color:lightgoldenrodyellow;
    background-color: rgb(46, 27, 6);
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}


.fa-trash{
    color: rgb(46, 27, 6);
    font-size: 12px;
    border: 1px solid, rgb(150, 150, 150);
    padding: 3px;
    border-radius: 50%;

}

/*footer*/

.site-footer{
    background-image: url(../imgs/footer.jpg);
    background-position-y: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90px;
    flex-direction: row;
    justify-content: space-around;
    color: goldenrod;
    text-align: center;
}