/*header*/
.site-header{
    display: flex;
    background-image: url(../imgs/Fur\ Babies\ Beauty\ Salon\ header.png);
    background-position: center center;
    flex-direction: column;
    justify-content: top;
    background-size: cover;
    height: 500px;
    color: goldenrod;
    text-align: center;
    text-decoration: underline;
}



/*form*/
.form-container{
    background-color: rgb(255, 221, 99);
    border-radius: 5px;
    padding: 10px;
}
.form{
    background-color: rgb(255, 221, 99);
    inline-size: fit-content;
    align-items: center;

}
.input-container{
    margin-bottom: 10px;
    padding: 10px;
}
.input-container label{
    display: inline-block;
    width: 80px;
    text-align: right;
}

.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(46, 27, 6);
}

.info-bar{
    color:lightgoldenrodyellow;
    background-color: rgb(46, 27, 6);
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}